form {
    font-size: 20px;
    color: steelblue;
}

.choose-list {
    float: left;
    margin-right: 10px;
}

.choose-list:last-child {
    margin-top: 10px;
}

.selectric {
    margin-top: 5px;
    width: 180px;
}

.send, #zip-download {
    margin: 38px 0 0 0;

    width: 182px;
    height: 40px;

    outline: none;
    cursor: pointer;

    background-color: #F8F8F8;
    border: 1px solid #C4C4C4;
}

.hidden-img {
    display: none;
    margin: 0 auto;

    width: 640px;
    height: 620px;
}

#zip-download {
    float: right;
    margin: 38px 80px 0 0;
    padding: 8px;

    height: 20px;

    font-size: 15px;

    text-align: center;
    text-decoration: none;
    color: black;
}

.grid {
    float: left;
    margin-top: 60px;

    width: 700px;
}
