{% extends 'ice/base.html' %}

{% load staticfiles %}

{% block title %}Ice Report{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/redmond/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/redmond/jquery-ui.structure.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/redmond/jquery-ui.theme.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ui.jqgrid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/data.css' %}"/>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jqGrid.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/i18n/grid.locale-en.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/i18n/grid.locale-ru.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/data.js' %}"></script>
{% endblock %}

{% block content %}
    {% load tags %}

    <div class="data-type">{{ data_type_tr }}</div>
    <ul class="sea-tabs">
        <li class="sea-tab" data-sea="bering">Берингово море</li>
        <li class="sea-tab" data-sea="chukchi">Чукотское море</li>
        <li class="sea-tab" data-sea="japan">Японское море</li>
        <li class="sea-tab" data-sea="okhotsk">Охотское море</li>
    </ul>

    <input id="input-data-type" type="hidden" data-data-type={{ data_type }}>
    <a id="csv-download" href="{% url 'get_data_src' 'bering' data_type %}">Скачать таблицу</a>

    <div class="data" data-cols-loc="{{ cols_loc }}" data-cols="{{ cols }}" data-data="{{ data }}">
        <table id="list"><tr><td></td></tr></table>
        <div id="pager"></div>
    </div>
{% endblock %}
