{% extends 'ice/base.html' %}

{% load staticfiles %}

{% block title %}Прогнозирование{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css"  href="{% static 'css/redmond/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/redmond/jquery-ui.structure.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/redmond/jquery-ui.theme.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/ui.jqgrid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectric.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/data.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/correlation.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forecast.css' %}"/>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jqGrid.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/i18n/grid.locale-en.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/i18n/grid.locale-ru.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.selectric.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/forecast.js' %}"></script>
{% endblock %}

{% block content %}
    {% load tags %}

    <div class="data-type">{{ data_type }}</div>
    <form action="{% url 'correlation' %}" method="get" class="filter">
        {% csrf_token %}
        <div class="chooses">
            <div class="choose-list">
                <label for="sea-choose">Море</label>
                <select id="sea-choose">
                    <option>Берингово море</option>
                    <option>Чукотское море</option>
                    <option>Охотское море</option>
                    <option>Японское море</option>
            </select>
            </div>
            <div class="choose-list">
                <label for="date1-year-choose">Начальная дата</label>
                <select id="date1-year-choose">
                    {% for year in start_years %}
                        <option>{{ year }}</option>
                    {% endfor %}
                </select>
                <select id="date1-dec-choose">
                    {% for dec in decs %}
                        <option>{{ dec }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="choose-list">
                <label for="date2-year-choose">Конечная дата</label>
                <select id="date2-year-choose">
                    {% for year in end_years %}
                        <option>{{ year }}</option>
                    {% endfor %}
                </select>
                <select id="date2-dec-choose">
                    {% for dec in decs %}
                         {% if dec != 1 %}
                            <option>{{ dec }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="choose-list">
                <label for="prop-choose">Характеристика</label>
                <select id="prop-choose">
                    <option>Площадь</option>
                    <option>Площадь с учетом сплоченности</option>
                    <option>Объем</option>
                </select>
            </div>
        </div>
        <input class="send" type="button" value="Получить значения">
    </form>

    <div class="hidden-img"></div>

    <div class="grid">
        <table id="list"><tr><td></td></tr></table>
        <div id="pager"></div>
    </div>

    <div class="data" data-cols-loc="{{ cols_loc }}" data-cols="{{ cols }}" data-data="{{ data }}">
        <table id="list"><tr><td></td></tr></table>
        <div id="pager"></div>
    </div>
{% endblock %}
